.forgotPasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 1);
    position: fixed;
    top: 0;
    left: 0;
}

.forgotPasswordBox {
    background-color: #fff;
    width: 30vw;
    height: 40vh;
    box-sizing: border-box;
    overflow: hidden;
}

.forgotPasswordHeading {
    color: rgba(0, 0, 0, 0.664);
    text-align: center;
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2vmax;
    height: 70%;
}

.forgotPasswordForm>div {
    display: flex;
    align-items: center;
    width: 100%;
}

.forgotPasswordForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1vmax cursive;
    outline: none;
}

.forgotPasswordForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

.forgotPasswordBtn {
    border: none;
    outline: none;
    background-color: tomato;
    color: #fff;
    width: 100%;
    font: 300 0.9vmax "Roboto";
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.forgotPasswordBtn:hover {
    background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 1024px) {

    forgotPasswordBox {
        width: 50vw;
        height: 80vh;
    }

}

@media screen and (max-width: 600px) {

    .forgotPasswordContainer {
        background-color: #fff;
    }

    .forgotPasswordBox {
        width: 100vw;
        height: 95vh;
    }

    .forgotPasswordForm {
        padding: 5vmax;
    }

    .forgotPasswordForm>div>input {
        padding: 2.5vmax 5vmax;
        padding-right: 1vmax;
        font: 300 2vmax cursive;
    }

    .forgotPasswordForm>div>svg {
        font-size: 3vmax;
    }

    .forgotPasswordBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }

}